sudo: required
language: python
python:
  - "2.7"
  - "3.4"
services:
  - docker
before_install:
  - sudo apt-get update
  - sudo apt-get install -o Dpkg::Options::="--force-confold" --force-yes -y docker-engine
  - docker pull armish/pyensembl:latest
script:
  - export PV=$(echo $TRAVIS_PYTHON_VERSION |head -c 1)
  - docker build --build-arg TRAVIS_JOB_ID=$TRAVIS_JOB_ID --build-arg PYTHON_VERSION=$PV -t "ensembl-test" .
deploy:
  provider: pypi
  distributions: sdist
  user: hammerlab
  password:
    secure: "X4DhwpPp5OJDhejSLj3y+b/zjGgvKpaVh5DEo68HUoy6GKdTOmy2+QM1/tCQVt9fze5X2E849aNN9kfXUjHoeAd3OvFIzota3Bu6hOq+q2HKj6IB0mjB9p3b3kqDusBh9I/66MXApntrqZdN9ZOm/wjD0KHzGbBdvBz41hePsHw="
  on:
    branch: master