sudo: false  # Use container-based infrastructure
language: python
python:
  - "2.7"
  - "3.4"
# Setup anaconda; see https://gist.github.com/dan-blanchard/7045057
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda
install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION numpy scipy nose pandas matplotlib
  - pip install -r requirements.txt
  - pip install .
  # human releases
script:
  # human releases
  - pyensembl install --release 54 --species human
  - pyensembl install --release 75 --species human
  - pyensembl install --release 77 --species human
  - pyensembl install --release 81 --species human
  # mouse releases
  - pyensembl install --release 81 --species mouse
  - nosetests test && ./lint.sh
deploy:
  provider: pypi
  user: hammerlab
  password:
    secure: gJSWl4PLXKtVc2ERwbzfd4qKk9Yy4T8dpfR7Q89VLVXTd7Tv1SsEknShJZUFaCPN85aYFcAWsoOI6vSlBSdXeTONU/pmPgcWOLfiErsgCqUs6qq7edOhrtOS307SREX4oF6AF2iyJduWAF4NPq+9IoJUROIiB4u5qeUtWfVu2Eo=
  on:
    tags: true