sudo: false  # Use container-based infrastructure
language: minimal
dist: precise
python:
  - "2.7"
  - "3.5"
before_install:
  # Commands below copied from: http://conda.pydata.org/docs/travis.html
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  # reset the shell's lookup table for program name to path mappings
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
addons:
  apt:
    packages:
    # install pandoc for use with pypandoc for converting the README
    # from markdown to RST
    - pandoc
cache:
  pip: true
  # cache directory used for Ensembl downloads of GTF and FASTA files
  # along with the indexed db of intervals and ID mappings and pickles
  # of sequence dictionaries
  directories: /home/travis/.cache/pyensembl/
install:
  - >
      conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
      numpy nose pandas
  - source activate test-environment
  - pip install pypandoc
  - pip install -r requirements.txt
  - pip install .
  - pip install coveralls
script:
  - ./lint.sh
  - echo "Before installing Ensembl releases" && df
  # older human releases
  - pyensembl install --release 54 --species human
  - echo "Installed Ensembl 54" && df -h
  - pyensembl install --release 75 --species human
  - echo "Installed Ensembl 75" && df -h
  - pyensembl install --release 77 --species human
  - echo "Installed Ensembl 77" && df -h
  - pyensembl install --release 83 --species human
  - echo "Installed Ensembl 83" && df -h
  - pyensembl install --release 87 --species human
  - echo "Installed Ensembl 87" && df -h
  # latest mouse release
  - pyensembl install --release 87 --species mouse
  - echo "Installed Ensembl 87" && df
  # run tests
  - nosetests test --verbose --with-coverage --cover-package=pyensembl
after_success:
  coveralls
deploy:
  provider: pypi
  distributions: sdist
  user: hammerlab
  password:
    secure: "X4DhwpPp5OJDhejSLj3y+b/zjGgvKpaVh5DEo68HUoy6GKdTOmy2+QM1/tCQVt9fze5X2E849aNN9kfXUjHoeAd3OvFIzota3Bu6hOq+q2HKj6IB0mjB9p3b3kqDusBh9I/66MXApntrqZdN9ZOm/wjD0KHzGbBdvBz41hePsHw="
  on:
    branch: master
